# Pulse audio tray
pasystray &

# bluetooth applet
blueman-applet &

# network manager applet
nm-applet &

# drop down terminal
guake &

# redshift
redshift-gtk -l 24:84 &

# Trayer as Standalone tray
trayer --edge top --align right --iconspacing 10 --height 20 --widthtype pixel --width 220 --margin 0 --transparent true --alpha 15 --SetDockType true  --SetPartialStrut true  --tint 0x303030 &

